<div class="dropdowns">
    <div class="column">
        <!-- dropdown-->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuVariables" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Variables
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Variable 1</a>
              <a class="dropdown-item" href="#">Variable 2</a>
              <a class="dropdown-item" href="#">Variable 3</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuAnimals" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Animales
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Vaca 1</a>
              <a class="dropdown-item" href="#">Vaca 2</a>
              <a class="dropdown-item" href="#">Vaca 3</a>
            </div>
        </div>
    </div>
</div>
<div class="graph-container">
    <iframe src="https://thingspeak.com/channels/1022535/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
</div>