<mat-nav-list class="sidenav-list">

    <a mat-list-item routerLink ="/signin" (click)="close()">
    <mat-icon>input</mat-icon>
    <span>SignIn</span>
    </a>

    <a mat-list-item routerLink ="/signup" (click)="close()">
        <mat-icon>account_circle</mat-icon>
        <span>SignUp</span>
        </a>
<!-- 
    <a mat-list-item routerLink ="/reservas" (click)="close()">
            <mat-icon>hotel</mat-icon>
            <span>Reservas</span>
        </a>
-->
        
        <a mat-list-item routerLink ="/usuario" (click)="close()">
            <mat-icon>assignment_ind</mat-icon>
            <span>Mi Usuario</span>
        </a>

        <!-- logout -->

</mat-nav-list>